<?xml version="1.0" encoding="UTF-8"?>
<configuration>

  <!-- 환경 데이터 -->
  <property name="LOG_PATTERN"
    value="%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} >> %msg%n"/>
  <property name="LOG_PATTERN_COLORED"
    value="%green([%d{yyyy-MM-dd HH:mm:ss.SSS}]) [%thread] %highlight([%level]) %cyan(%logger{36}) >> %msg%n"/>
  <springProperty scope="context" name="PROFILE" source="spring.profiles.active"/>

  <!-- test, local 프로파일 설정 -->
  <!-- 콘솔 출력: debug 부터, 로그 저장: debug 부터 -->
  <springProfile name="test,local">
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
      <encoder>
        <pattern>${LOG_PATTERN_COLORED}</pattern>
      </encoder>
    </appender>
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
      <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
        <fileNamePattern>
          backend/logs/main/%d{yyyy-MM-dd}/${PROFILE}_%d{yyyyMMdd_HH}_%i.log
        </fileNamePattern>
        <maxFileSize>20MB</maxFileSize>
        <maxHistory>7</maxHistory>
      </rollingPolicy>
      <encoder>
        <pattern>${LOG_PATTERN}</pattern>
      </encoder>
    </appender>
  </springProfile>

  <!-- dev, prod 프로파일 설정 (ubuntu 서버 전용) -->
  <!-- 콘솔 출력: info 부터, 로그 저장: debug 부터 -->
  <springProfile name="dev,prod">
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
      <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
        <level>INFO</level>
      </filter>
      <encoder>
        <pattern>${LOG_PATTERN_COLORED}</pattern>
      </encoder>
    </appender>
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
      <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
        <fileNamePattern>
          /home/ubuntu/logs/${PROFILE}/%d{yyyyMMdd_HH}_%i.log
        </fileNamePattern>
        <maxFileSize>20MB</maxFileSize>
        <maxHistory>7</maxHistory>
      </rollingPolicy>
      <encoder>
        <pattern>${LOG_PATTERN}</pattern>
      </encoder>
    </appender>
  </springProfile>


  <!-- 기본 로그 레벨 -->
  <root level="DEBUG">
    <appender-ref ref="CONSOLE"/>
    <appender-ref ref="FILE"/>
  </root>

</configuration>